build/
.build/
.zig/
.godot/
.mingw/
.vscode/
program/test
.sconsign.dblite
.DS_Store
*.o
*.os
*.elf
bin/addons/godot_sandbox/bin/*

# Ignore all CPP files in the bintr directory
src/bintr/*.cpp
src/gen/

# UID files
*.uid
__pycache__/config.cpython-313.pyc
