name: Release
on:
  workflow_call:

jobs:
  release:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: godot-sandbox-*
          merge-multiple: true
          path: godot-sandbox
          name: godot-sandbox
      - name: Download artifacts static
        uses: actions/download-artifact@v4
        with:
          pattern: static-sandbox-*
          merge-multiple: true
          path: sandbox
          name: static-sandbox
      - name: Delete draft release(s)
        uses: hugo19941994/delete-draft-releases@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive
        shell: sh
        run: |
          ls
          zip -r "godot-sandbox.zip" godot-sandbox
          zip -r "sandbox.zip" sandbox
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Godot Sandbox Nightly
          files: |
            godot-sandbox.zip
            sandbox.zip
          generate_release_notes: true
          draft: true
          prerelease: true
          fail_on_unmatched_files: true
