name: Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{github.workspace}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc-12-riscv64-linux-gnu g++-12-riscv64-linux-gnu cmake

      - name: Configure
        run: cmake --trace -B ${{github.workspace}}/.build -DCMAKE_BUILD_TYPE=Release

      - name: Build the unittests
        run: cmake --trace --build ${{github.workspace}}/.build --parallel 6

      - name: Download and extract Godot
        working-directory: ${{github.workspace}}/tests
        run: |
          wget -q https://github.com/godotengine/godot-builds/releases/download/4.3-stable/Godot_v4.3-stable_linux.x86_64.zip
          unzip -q Godot_v4.3-stable_linux.x86_64.zip

      - name: Run Gut tests
        working-directory: ${{github.workspace}}/tests
        run: |
          # Run the tests
          CI=1 GODOT=./Godot_v4.3-stable_linux.x86_64 ./run_unittests.sh
